USE [CORPORERM]
GO
/****** Object:  StoredProcedure [dbo].[ZZEXECUTAATUALIZASITMATRICF21]    Script Date: 22/02/2019 17:43:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZZEXECUTAATUALIZASITMATRICF18EAD]
@PERIODOLETIVO	VARCHAR(20) --Período letivo.

AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @CODSTATUS			INTEGER --Grava o código do status.
  DECLARE @IDPERLET				VARCHAR(12) --Grava id do período letivo.
  DECLARE @IDHABILIACAOFILIAL	INTEGER --IDHABILITACAO, id da habilitação / curso do discente.
  DECLARE @RA					VARCHAR(20) --Grava RA.  
  DECLARE @CODFILIAL			INTEGER -- Grava o código da filial.  
  DECLARE @CONTAGEM				INTEGER -- Grava número maximo de registros.
  
  -- Conta número de registros para loop.
	SELECT @CONTAGEM = COUNT(*)
	FROM SMATRICPL
	JOIN SPLETIVO
	  ON SPLETIVO.CODCOLIGADA = SMATRICPL.CODCOLIGADA
	 AND SPLETIVO.CODFILIAL = SMATRICPL.CODFILIAL
	 AND SPLETIVO.IDPERLET = SMATRICPL.IDPERLET
	WHERE SMATRICPL.CODFILIAL IN (18)
	  AND SPLETIVO.CODPERLET = @PERIODOLETIVO
	  AND SMATRICPL.CODSTATUS = 196
	  AND SMATRICPL.RA IN (SELECT SPARCELA.RA
						   FROM SPARCELA
						   JOIN SCONTRATO
							 ON SCONTRATO.CODCOLIGADA = SPARCELA.CODCOLIGADA
							AND SCONTRATO.RA = SPARCELA.RA
							AND SCONTRATO.CODCONTRATO = SPARCELA.CODCONTRATO
							AND SCONTRATO.IDPERLET = SPARCELA.IDPERLET

		/*****/  		   join SMATRICPL on SMATRICPL.IDHABILITACAOFILIAL = SCONTRATO.IDHABILITACAOFILIAL
						   and SMATRICPL.RA = SCONTRATO.RA
						   and SMATRICPL.IDPERLET = SCONTRATO.IDPERLET

						   JOIN SPLETIVO
							 ON SPLETIVO.CODCOLIGADA = SPARCELA.CODCOLIGADA
							AND SPLETIVO.IDPERLET = SPARCELA.IDPERLET
						   JOIN SLAN
							 ON SLAN.CODCOLIGADA = SPARCELA.CODCOLIGADA
							AND SLAN.IDPARCELA = SPARCELA.IDPARCELA
						   JOIN FLAN
							 ON FLAN.CODCOLIGADA = SLAN.CODCOLIGADA
							AND FLAN.IDLAN = SLAN.IDLAN
						   WHERE /*(CASE WHEN FLAN.STATUSLAN = 3 
					   THEN (SELECT
						CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
						FROM FLAN FLANACORDO
						WHERE
						FLANACORDO.IDLAN IN (SELECT IDLAN 
									 FROM FACORDOREL ACORDOORIG 
									 WHERE ACORDOORIG.IDACORDO IN (SELECT ACORDODEST.IDACORDO
												   FROM FACORDOREL ACORDODEST
												   WHERE ACORDODEST.IDLAN = FLAN.IDLAN)
									 AND ACORDOORIG.CLASSIFICACAO = 2)
						AND FLANACORDO.STATUSLAN = 1)
						 ELSE FLAN.STATUSLAN
						 END) = 1
							 AND*/ 
							 SPARCELA.PARCELA = 1
							 AND (CASE WHEN FLAN.STATUSLAN = 3 
							   THEN (SELECT
								CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
								FROM FLAN FLANACORDO
								WHERE
								FLANACORDO.IDLAN IN (SELECT IDLAN 
											 FROM FACORDOREL ACORDOORIG 
											 WHERE ACORDOORIG.IDACORDO IN (SELECT ACORDODEST.IDACORDO
														   FROM FACORDOREL ACORDODEST
														   WHERE ACORDODEST.IDLAN = FLAN.IDLAN)
											 AND ACORDOORIG.CLASSIFICACAO = 2)
								AND FLANACORDO.STATUSLAN = 1)
								 ELSE FLAN.STATUSLAN
								 END) = 1
				     AND SPARCELA.CODSERVICO IN (258,259) --(1, 100, 101, 102, 103, 104, 158, 163, 264) DENNYSON 22/02/2019
							 AND SCONTRATO.IDHABILITACAOFILIAL = SMATRICPL.IDHABILITACAOFILIAL
							 AND FLAN.CODCOLIGADA = SMATRICPL.CODCOLIGADA
							 AND FLAN.CODFILIAL = SMATRICPL.CODFILIAL
							 AND SPARCELA.IDPERLET = SMATRICPL.IDPERLET  
							 AND SPARCELA.RA = SMATRICPL.RA
							 and SPLETIVO.CODPERLET = @PERIODOLETIVO
							 )
  
  
  
  -- Irá fazer o Loop, começa no máximo até o 1.
  WHILE @CONTAGEM > 0
  BEGIN
    -- Grava os paramentros para executar a procedure.
    SELECT @CODSTATUS=AA.CODSTATUS, @IDPERLET = AA.IDPERLET, @IDHABILIACAOFILIAL = AA.IDHABILITACAOFILIAL,
			@RA = AA.RA, @CODFILIAL = AA.CODFILIAL           
    FROM (SELECT SMATRICPLMASTER.CODSTATUS, SMATRICPLMASTER.IDPERLET, SMATRICPLMASTER.IDHABILITACAOFILIAL, SMATRICPLMASTER.RA, 
			SMATRICPLMASTER.CODFILIAL
			FROM SMATRICPL SMATRICPLMASTER/*Comentários ao fim da SQL*/
			JOIN SPLETIVO
			  ON SPLETIVO.CODCOLIGADA = SMATRICPLMASTER.CODCOLIGADA
			 AND SPLETIVO.CODFILIAL = SMATRICPLMASTER.CODFILIAL
			 AND SPLETIVO.IDPERLET = SMATRICPLMASTER.IDPERLET
			WHERE SMATRICPLMASTER.CODFILIAL IN (18)
			  AND SPLETIVO.CODPERLET = @PERIODOLETIVO
			  AND SMATRICPLMASTER.CODSTATUS = 196
			  AND SMATRICPLMASTER.RA IN (SELECT SPARCELA.RA
								   FROM SPARCELA
								   JOIN SCONTRATO
									 ON SCONTRATO.CODCOLIGADA = SPARCELA.CODCOLIGADA
									AND SCONTRATO.RA = SPARCELA.RA
									AND SCONTRATO.CODCONTRATO = SPARCELA.CODCONTRATO
									AND SCONTRATO.IDPERLET = SPARCELA.IDPERLET

				/******/						   join SMATRICPL on SMATRICPL.IDHABILITACAOFILIAL = SCONTRATO.IDHABILITACAOFILIAL
						   and SMATRICPL.RA = SCONTRATO.RA
						   and SMATRICPL.IDPERLET = SCONTRATO.IDPERLET

								   JOIN SPLETIVO
									 ON SPLETIVO.CODCOLIGADA = SPARCELA.CODCOLIGADA
									AND SPLETIVO.IDPERLET = SPARCELA.IDPERLET
								   JOIN SLAN
									 ON SLAN.CODCOLIGADA = SPARCELA.CODCOLIGADA
									AND SLAN.IDPARCELA = SPARCELA.IDPARCELA
								   JOIN FLAN
									 ON FLAN.CODCOLIGADA = SLAN.CODCOLIGADA
									AND FLAN.IDLAN = SLAN.IDLAN
								   WHERE /*(CASE WHEN FLAN.STATUSLAN = 3 
							   THEN (SELECT
								CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
								FROM FLAN FLANACORDO
								WHERE
								FLANACORDO.IDLAN IN (SELECT IDLAN 
											 FROM FACORDOREL ACORDOORIG 
											 WHERE ACORDOORIG.IDACORDO IN (SELECT ACORDODEST.IDACORDO
														   FROM FACORDOREL ACORDODEST
														   WHERE ACORDODEST.IDLAN = FLAN.IDLAN)
											 AND ACORDOORIG.CLASSIFICACAO = 2)
								AND FLANACORDO.STATUSLAN = 1)
								 ELSE FLAN.STATUSLAN
								 END) = 1
									 AND*/ 
									 SPARCELA.PARCELA = 1
									 AND (CASE WHEN FLAN.STATUSLAN = 3 
								   THEN (SELECT
									CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
									FROM FLAN FLANACORDO
									WHERE
									FLANACORDO.IDLAN IN (SELECT IDLAN 
												 FROM FACORDOREL ACORDOORIG 
												 WHERE ACORDOORIG.IDACORDO IN (SELECT ACORDODEST.IDACORDO
															   FROM FACORDOREL ACORDODEST
															   WHERE ACORDODEST.IDLAN = FLAN.IDLAN)
												 AND ACORDOORIG.CLASSIFICACAO = 2)
									AND FLANACORDO.STATUSLAN = 1)
									 ELSE FLAN.STATUSLAN
									 END) = 1
									 AND SPARCELA.CODSERVICO IN (258,259)--(1, 100, 101, 102, 103, 104, 158, 163, 264) DENNYSON 22/02/2019
									 AND SCONTRATO.IDHABILITACAOFILIAL = SMATRICPL.IDHABILITACAOFILIAL
									 AND FLAN.CODCOLIGADA = SMATRICPL.CODCOLIGADA
									 AND FLAN.CODFILIAL = SMATRICPL.CODFILIAL
									 AND SPARCELA.IDPERLET = SMATRICPL.IDPERLET  
									 AND SPARCELA.RA = SMATRICPL.RA
									 and SPLETIVO.CODPERLET = @PERIODOLETIVO
									 
									 /*
									 Em 08/02/2018, foi colocado o alias SMATRICPLMASTER para não atualizar o status
									 das demais matrículas no período letivo.
									 */
									 AND SMATRICPL.RA = SMATRICPLMASTER.RA
									 AND SMATRICPL.IDHABILITACAOFILIAL = SMATRICPLMASTER.IDHABILITACAOFILIAL
									 AND SMATRICPL.IDPERLET = SMATRICPLMASTER.IDPERLET
									 /**/
									 )) AA
  
   
    -- Executa Procedure com os paramentros passados.
    EXEC [dbo].[ZATUALIZASITUACAOMATRICULADO] 
          @ESPELHO#1 = @CODSTATUS,
  		  @ESPELHO#2 = @IDPERLET,
		  @ESPELHO#3 = @IDHABILIACAOFILIAL,
		  @ESPELHO#4 = @RA,
		  @ESPELHO#5 = @CODFILIAL
		  
    -- Diminui valor da contagem.
    SET @CONTAGEM = @CONTAGEM - 1
    
    CONTINUE
  END

  END