USE [CORPORERM]
GO
/****** Object:  Trigger [dbo].[ZTR_CALCULO_NOTA_ETAPA_F06]    Script Date: 18/09/2020 11:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Criado e Desenvolvido pelo setor TI - Congregação dos Oblatos de São José.
-- Data: 22/11/2011
-- Usuário: Rodrigo
-- Utilização: Classis - Calcula média das notas das provas e insere na etapa.
-- Atualizada em 30/04/2014 por Juliane
-- =============================================
ALTER TRIGGER [dbo].[ZTR_CALCULO_NOTA_ETAPA_F06]
ON [dbo].[SNOTAS]
FOR INSERT, UPDATE
AS 
BEGIN
	
	SET NOCOUNT ON;

	-- Declara as variáveis
	DECLARE @CODETAPA		INT			-- CODETAPA.
	DECLARE @IDTURMADISC	INT			-- IDTURMADISC.
	DECLARE @RA				VARCHAR(15)	-- RA do aluno.
	DECLARE @SOMANOTAS		FLOAT		-- Grava soma das notas para cáculo da média.
	DECLARE @MEDIANOTA		FLOAT		-- Grava a média das avaliações.
	DECLARE @VERIFICALAN	INTEGER		-- Verifica lançamentos para insert ou update.
	DECLARE @CODFILIAL		INTEGER		-- CODFILIAL.
	DECLARE @CODPERLET		VARCHAR(10) -- CODPERLET.
	DECLARE @TESTE			VARCHAR(40)	-- Variável para mensagens de teste.	
	DECLARE @CODDISC		VARCHAR(3)	-- CODDISC.
	DECLARE @CODTURMA		VARCHAR(20)	-- CODTURMA
	DECLARE @NOTANOVA		FLOAT		-- Grava nota alterada.
	DECLARE @NOTAANTIGA		FLOAT		-- Grava nota alterada ANTIGA.

	-- Pega a nota (antes e depois da alteração)
	SET @NOTANOVA = (SELECT NOTA FROM INSERTED)
	SET @NOTAANTIGA = (SELECT NOTA FROM DELETED)
		
	--IF ISNULL(@NOTANOVA,'') <> ISNULL(@NOTAANTIGA,0)
	--BEGIN		
		
		-- SETA OS DADOS DAS VARIÁVEIS
		SELECT @CODETAPA = CODETAPA FROM INSERTED
		SELECT @IDTURMADISC = IDTURMADISC FROM INSERTED
		SELECT @RA = RA FROM INSERTED

		-- SETA A FILIAL, PERÍODO LETIVO, CODIGO DA DISCIPLINA E CODIGO DA TURMA
		SELECT DISTINCT
		@CODFILIAL=STURMADISC.CODFILIAL, @CODPERLET = SPLETIVO.CODPERLET, @CODDISC = STURMADISC.CODDISC, @CODTURMA = STURMADISC.CODTURMA
		FROM SNOTAS (NOLOCK)
		JOIN STURMADISC (NOLOCK)
		  ON STURMADISC.IDTURMADISC = SNOTAS.IDTURMADISC
		JOIN SPLETIVO (NOLOCK)
		  ON SPLETIVO.IDPERLET = STURMADISC.IDPERLET
		WHERE SNOTAS.IDTURMADISC = @IDTURMADISC
		  AND SNOTAS.RA = @RA

		IF @CODFILIAL = 6
		BEGIN
			
			/*NÃO É NOTA DA RECUPERAÇÃO, ARREDONDAMENTO POR CONSELHO DE CLASSE ou Nota Parcial*/
			IF @CODETAPA NOT IN (51, 52, 60, 11, 21, 31, 41, 15, 25, 35, 45)
			--IF @CODETAPA NOT IN (51, 52, 60, 11, 14, 21, 24, 31, 34, 41, 44, 15, 25, 35, 45)
			BEGIN

				--SET @TESTE  = ''+CAST(@CODDISC AS VARCHAR)
				--RAISERROR ('Trigger TI',18,1) with nowait

				/* Executa o calculo da média das avaliações e atualiza etapa */
				/* EXEC ZCALCULOAVALIACOESCSJTR @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODETAPA */
				EXEC ZCALCULOAVALIACOESCSJTR2014 @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODETAPA, @CODTURMA, @CODDISC

				/* Executa o calculo da avaliação mensal */
				EXEC ZCALCULOAVALIACAOMENSALTR2014 @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODETAPA
	
				/* Executa o calculo da média bimestral */
				/* EXEC ZCALCULOMEDIACSJTR @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODDISC, @CODETAPA, @CODTURMA */
				EXEC ZCALCULOMEDIACSJTR2014 @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODDISC, @CODETAPA, @CODTURMA

				/* Executa a cópia de notas de algunas disciplinas */
				/* EXEC ZCOPIANOTAETAPASSAOJOSETR @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODDISC, @CODETAPA, @CODTURMA */
				EXEC ZCOPIANOTAETAPASSAOJOSETR2014 @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODDISC, @CODETAPA, @CODTURMA
			   		
			END
			ELSE
			BEGIN
				IF @CODETAPA = 51
				BEGIN
				
					/* Executa o calculo da média das avaliações das recuperação e atualiza etapa */
					EXEC ZCALCULOAVALIACOESRECCSJTR @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODETAPA
					
					/* Calcula a média final*/
					
					/* Copia notas de algumas disciplinas */
					EXEC ZCOPIANOTASRECSAOJOSETR @CODFILIAL, @CODPERLET, @RA, @IDTURMADISC, @CODDISC, @CODETAPA, @CODTURMA
				END
			END
		END
	--END	
END
