USE [CORPORERM]
GO
/****** Object:  StoredProcedure [dbo].[ZCOPIANOTAETAPASSAOJOSETR2014]    Script Date: 18/09/2020 14:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================
-- Author:	Juliane
-- Create date: 30/04/2014
-- Description:	Copia notas
-- As notas de algumas disciplinas devem ser copiadas de outras disciplinas.
-- (EF.5D.V, EF.5E.V, EF.5F.V, EF.6D.V, EF.6E.V, EF.6F.V, EF.7A.M, EF.7B.M, EF.7C.M E EF.7D.V) LABORATÓRIO DE CIÊNCIAS igual a nota de CIÊNCIAS 
-- (EM.1A.M, EM.1B.M, EM.1C.M, EM.1C.M, EM.2A.M, EM.2B.M, EM.2C.M, EM.2D.M E EM.3A.M) MATEMÁTICA E GEOMETRIA igual a nota de MATEMÁTICA
-- Para EM.3A.M disciplina INGLES e ESPANHOL
-- Caso tiver nota de INGLES, nota de ESPANHOL = nota de INGLES
-- Caso tiver nota de ESPANHOL, nota de INGLES = nota de ESPANHOL
-- Filial: 06 e 07

-- ==============================================

ALTER PROCEDURE [dbo].[ZCOPIANOTAETAPASSAOJOSETR2014]
@CODFILIAL		INTEGER, --Solicita a Filial para o calculo.
@PERLET			VARCHAR(10), --Solicita o Período Letivo.
@RA				VARCHAR(20), --RA do discente
@IDTURMADISC	INTEGER, --IDTURMADISC
@CODIGODISC		VARCHAR(20), -- Grava Código da disciplina.
@CODETAPA		INTEGER, --IDTURMADISC
@CODIGOTURMA	VARCHAR(20) --Código da turma

AS
BEGIN

	DECLARE @ETAPASABATINA	INTEGER -- Grava etapa da sabatina			- Etapa = 11,21,31,41.
	DECLARE @ETAPACONCEITO	INTEGER -- Grava etapa do coceito			- Etapa = 12,22,32,42.
	DECLARE @ETAPANOTABIM	INTEGER -- Grava etapa da nota bimestral	- Etapa = 10,20,30,40.
	DECLARE @ETAPABONUS		INTEGER -- Grava etapa da Bonus				- Etapa = 14,24,34,44.
	DECLARE @ETAPASIMULADO	INTEGER -- Grava etapa da simulado			- Etapa = 15,25,35,45.
	DECLARE @ETAPAMEDIABIM	INTEGER -- Grava etapa da media				- Etapa = 16,26,36,46.
	DECLARE @VERIFICALAN	INTEGER -- Verifica lançamentos para insert ou update.
	DECLARE @IDTURMADISCDST INTEGER -- Grava idturmadisc destino
	DECLARE @TESTE			VARCHAR(20) -- Para teste.
	DECLARE @COUNTER		INTEGER -- Contador.
	DECLARE @ETAPA			INTEGER
	DECLARE @NOTA			FLOAT   -- Grava nota.
	
	BEGIN
		--Seta a etapa conforme o bimestre informado - COLÉGIO SÃO JOSÉ --
		IF @CODETAPA IN(10, 11, 12, 14, 15)
		BEGIN
			SET @ETAPASABATINA = 11
			SET @ETAPACONCEITO = 12
			SET @ETAPANOTABIM = 10
			SET @ETAPABONUS = 14
			SET @ETAPASIMULADO = 15
			SET @ETAPAMEDIABIM = 16
		END
		ELSE
		IF @CODETAPA IN(20, 21, 22, 24, 25)
		BEGIN
			SET @ETAPASABATINA = 21
			SET @ETAPACONCEITO = 22
			SET @ETAPANOTABIM = 20
			SET @ETAPABONUS = 24
			SET @ETAPASIMULADO = 25
			SET @ETAPAMEDIABIM = 26
		END
		ELSE
		IF @CODETAPA IN(30, 31, 32, 34, 35)
		BEGIN
			SET @ETAPASABATINA = 31
			SET @ETAPACONCEITO = 32
			SET @ETAPANOTABIM = 30
			SET @ETAPABONUS = 34
			SET @ETAPASIMULADO = 35
			SET @ETAPAMEDIABIM = 36
		END
		ELSE
		IF @CODETAPA IN(40, 41, 42, 44, 45)
		BEGIN
			SET @ETAPASABATINA = 41
			SET @ETAPACONCEITO = 42
			SET @ETAPANOTABIM = 40
			SET @ETAPABONUS = 44
			SET @ETAPASIMULADO = 45
			SET @ETAPAMEDIABIM = 46
		END
		ELSE
		BEGIN
			SET @ETAPASABATINA = 0
			SET @ETAPACONCEITO = 0
			SET @ETAPANOTABIM = 0
			SET @ETAPABONUS = 0
			SET @ETAPASIMULADO = 0
			SET @ETAPAMEDIABIM = 0
		END	  	
				
		/*************** Seta a disciplina destino ********************************************************/
				
		/*Caso for EM.3A.M E (INGLES OU ESPANHOL), copia NOTA BIMESTRAL, SIMULADO E BONUS da nota maior*/
		IF (@CODIGOTURMA = 'EM.3A.M' AND (@CODIGODISC='016' OR @CODIGODISC='017')) /*ESPANHOL/INGLES*/
		BEGIN
		
			SELECT @IDTURMADISCDST = (CASE WHEN @CODIGODISC = '016' THEN (SELECT /*ESPANHOL*/
											STURMADISC.IDTURMADISC
											FROM STURMADISC (NOLOCK)
											JOIN SPLETIVO (NOLOCK) ON STURMADISC.IDPERLET = SPLETIVO.IDPERLET
											WHERE STURMADISC.CODFILIAL = @CODFILIAL
											  AND STURMADISC.CODDISC = '017' /*INGLÊS*/
											  AND STURMADISC.CODTURMA = @CODIGOTURMA
											  AND SPLETIVO.CODPERLET = @PERLET)
										ELSE (SELECT
											STURMADISC.IDTURMADISC
											FROM STURMADISC (NOLOCK)
											JOIN SPLETIVO (NOLOCK) ON STURMADISC.IDPERLET = SPLETIVO.IDPERLET
											WHERE STURMADISC.CODFILIAL = @CODFILIAL
											  AND STURMADISC.CODDISC = '016' /*ESPANHOL*/
											  AND STURMADISC.CODTURMA = @CODIGOTURMA
											  AND SPLETIVO.CODPERLET = @PERLET)
											END)
				
		END
		--ELSE
		--BEGIN
	
			--/*Caso for EM.3A.M E SOCIOLOGIA (023), copia NOTA BIMESTRAL E BONUS de FILOSOFIA -  (007)*/
			--IF (@CODIGOTURMA = 'EM.3A.M' AND @CODIGODISC='007') /*FILOSOFIA*/
			--BEGIN
			
			--	SELECT @IDTURMADISCDST = (SELECT STURMADISC.IDTURMADISC
			--								  FROM STURMADISC (NOLOCK)
			--								  JOIN SPLETIVO (NOLOCK) ON STURMADISC.IDPERLET = SPLETIVO.IDPERLET
			--								  WHERE STURMADISC.CODFILIAL = @CODFILIAL
			--									AND STURMADISC.CODDISC = '023' /*SOCIOLOGIA*/
			--									AND STURMADISC.CODTURMA = @CODIGOTURMA
			--									AND SPLETIVO.CODPERLET = @PERLET)						
				
			--END
			ELSE
			BEGIN
				
				/*Caso for (EM.1A.M, EM.1B.M, EM.1C.M, EM.2A.M, EM.2B.M E EM.2C.M) E MATEMÁTICA E GEOMETRIA,*/
				/* copia NOTAS de MATEMÁTICA*/
				IF (@CODIGOTURMA IN('EM.1A.M', 'EM.1B.M', 'EM.1C.M', 'EM.1D.M', 'EM.2A.M', 'EM.2B.M', 'EM.2C.M', 'EM.2D.M') AND @CODIGODISC='018') /*MATEMÁTICA*/
				BEGIN
					SELECT @IDTURMADISCDST = (SELECT STURMADISC.IDTURMADISC
											  FROM STURMADISC (NOLOCK)
											  JOIN SPLETIVO (NOLOCK) ON STURMADISC.IDPERLET = SPLETIVO.IDPERLET
											  WHERE STURMADISC.CODFILIAL = @CODFILIAL
												AND STURMADISC.CODDISC = '019' /*MATEMÁTICA E GEOMETRIA*/
												AND STURMADISC.CODTURMA = @CODIGOTURMA
												AND SPLETIVO.CODPERLET = @PERLET)														
					
					
				END
				ELSE

				BEGIN
			
					/*Caso for (EM.3A.M) E MATEMÁTICA E GEOMETRIA, copia NOTAS de MATEMÁTICA*/
					IF (@CODIGOTURMA = 'EM.3A.M' AND @CODIGODISC='018') /*MATEMÁTICA E GEOMETRIA*/
					BEGIN
						SELECT @IDTURMADISCDST = (SELECT STURMADISC.IDTURMADISC
												  FROM STURMADISC (NOLOCK)
												  JOIN SPLETIVO (NOLOCK) ON STURMADISC.IDPERLET = SPLETIVO.IDPERLET
												  WHERE STURMADISC.CODFILIAL = @CODFILIAL
													AND STURMADISC.CODDISC = '019' /*MATEMÁTICA E GEOMETRIA*/
													AND STURMADISC.CODTURMA = @CODIGOTURMA
													AND SPLETIVO.CODPERLET = @PERLET)														
							
					END
					ELSE BEGIN SET @IDTURMADISCDST = NULL END
				END
			 END
		--END	
		
		/********* Faz as cópias *****************/
		IF @IDTURMADISCDST IS NOT NULL
		BEGIN
			SET @COUNTER = 1
						
			WHILE (@COUNTER<=6)
			BEGIN
				IF @COUNTER=1 BEGIN SET @ETAPA=@ETAPANOTABIM END ELSE BEGIN
				IF @COUNTER=2 BEGIN SET @ETAPA=@ETAPASABATINA END ELSE BEGIN
				IF @COUNTER=3 BEGIN SET @ETAPA=@ETAPAMEDIABIM END ELSE BEGIN
				IF @COUNTER=4 BEGIN SET @ETAPA=@ETAPABONUS END ELSE BEGIN
				IF @COUNTER=5 BEGIN SET @ETAPA=@ETAPASIMULADO END ELSE BEGIN
				IF @COUNTER=6 BEGIN SET @ETAPA=@ETAPACONCEITO END END END END END END
																
				-- Verifica se já existe --
				SELECT @VERIFICALAN = COUNT(*)
				FROM SNOTAETAPA (NOLOCK)
				WHERE SNOTAETAPA.RA = @RA					  
				  AND SNOTAETAPA.CODETAPA = @ETAPA
				  AND SNOTAETAPA.IDTURMADISC = @IDTURMADISCDST
				  AND SNOTAETAPA.TIPOETAPA = 'N'

				-- Caso tenha, apaga e grava --
				IF @VERIFICALAN <> 0
				BEGIN
					DELETE
					FROM SNOTAETAPA
					WHERE SNOTAETAPA.RA = @RA
					  AND SNOTAETAPA.CODETAPA = @ETAPA
					  AND SNOTAETAPA.IDTURMADISC = @IDTURMADISCDST
					  AND SNOTAETAPA.TIPOETAPA = 'N'
				END

				-- Grava Nota --
				SELECT @NOTA = SNOTAETAPA.NOTAFALTA
				FROM SNOTAETAPA (NOLOCK)
				WHERE SNOTAETAPA.RA = @RA
				  AND SNOTAETAPA.CODETAPA = @ETAPA
				  AND SNOTAETAPA.IDTURMADISC = @IDTURMADISC
				  AND SNOTAETAPA.TIPOETAPA = 'N'
				  
				--Inserindo dados na tabela SNOTAETAPA --
				IF @NOTA IS NOT NULL
				BEGIN
					INSERT INTO SNOTAETAPA (CODCOLIGADA, CODETAPA, TIPOETAPA, IDTURMADISC, RA, IDGRUPO, NOTAFALTA, AULASDADAS)
					VALUES (1,@ETAPA, 'N', @IDTURMADISCDST, @RA, NULL, ROUND(@NOTA, 0), NULL)
					--COMMIT;
				END
				
				--SELECT @COUNTER, @ETAPA, @NOTA, @IDTURMADISC, @IDTURMADISCDST
				SET @COUNTER=@COUNTER+1
				SET @NOTA=NULL						
				
			END
		END
						
    END
    --COMMIT;
    --RAISERROR (@TESTE,18,1) with nowait	
END
